astroid==2.0.4
atomicwrites==1.2.1
attrs==18.2.0
autopep8==1.4.3
caesar==0.1.3
Click==7.0
colorama==0.3.3
Flask==1.0.2
Flask-SQLAlchemy==2.3.2
-e git+https://github.com/BIMseven/freelance-recorder.git@9e347c6855dec20743b695321ceada76401738a6#egg=freelance_recorder
isort==4.3.4
itsdangerous==1.1.0
Jinja2==2.10
lazy-object-proxy==1.3.1
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==4.3.0
pluggy==0.8.0
py==1.7.0
pycodestyle==2.4.0
pylint==2.1.1
pytest==4.0.1
six==1.11.0
SQLAlchemy==1.3.1
virtualenv==16.0.0
Werkzeug==0.14.1
wrapt==1.11.1
